.scrollbar-container {
    overflow-x: auto;
    padding-bottom: 50px;
}

.scrollbar-container::-webkit-scrollbar {
    height: 2px;
    width: 10px;
}

.scrollbar-container::-webkit-scrollbar-track {
    background: transparent;
    margin: 0 10px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
    background-color: #8807F7;
    border-radius: 10px;
    margin: 0 10px;
}